@import 'bootstrap/scss/bootstrap'

.peg
  border-radius: 50%
  color: inherit
  display: flex
  align-items: center
  justify-content: center
  padding: 0
  border: none

  &:focus
    outline: none

  &:not(:disabled)
    cursor: pointer

  &.active
    box-shadow: 0 0 0 1px white

  &.empty
    border: 1px solid #fff
    background: transparent

  &.red
    background: $red

  &.orange
    background: $orange

  &.yellow
    background: $yellow

  &.green
    background: $green

  &.blue
    background: $blue

  &.purple
    background: $purple

  &.white
    background: $white

  .questionMark
    margin: 0
    line-height: 1
